asgiref==3.8.1
cffi==1.16.0
colorama==0.4.6
cryptography==42.0.7
distlib==0.3.8
Django==5.0.4
django-after-response==0.2.2
django-extensions==3.2.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
mysqlclient==2.2.4
pillow==10.3.0
pycparser==2.22
PyJWT==2.8.0
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
